@import "mixins";

.placeholder-container {
  height: 100%;
  height: 110px;
  width: auto;
  padding: 20px;
  border-radius: $border-radius-primary;
  background-color: $grey-bg;
  color: $light-text;
  font-size: $font-size-s;
  @include flexCenter(row);
  @include extra-small-screen {
    height: 150px;
  }
}
