@import "variables";
@import "mixins";

footer {
  padding: 8px 16px 24px;
  @include flexStartCol(16px);

  .social-links-strip {
    @include flexStartCol(8px);
    .sub-heading {
      font-size: $font-size-primary;
      width: 100%;
      text-align: center;
    }
    .icons-list {
      @include flexCenter(row, 16px);
      width: 100%;
      a {
        height: 32px;
        width: 32px;
        img {
          width: auto;
          height: 100%;
        }
      }
    }
  }
  .footer-notes {
    @include flexStartCol(8px);

    p {
      font-size: $font-size-s;
      font-weight: 300;
    }
    p.terms {
      font-size: $font-size-xs;
    }
  }
}
