@import "node_modules/@ballzo-ui/core/common/themes/mixins.scss";
@import "node_modules/@ballzo-ui/core/common/themes/_variables.scss";

footer {
  padding: 8px 16px 24px;
  @include flexStartCol(16px);

  .social-links-strip {
    @include flexStartCol(8px);
    .sub-heading {
      font-size: $font-size-primary;
      width: 100%;
      font-weight: $sub-heading-weight;
      text-align: center;
    }
    .icons-list {
      @include flexCenter(row, 16px);
      width: 100%;
      a {
        height: 32px;
        width: 32px;
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }
  .footer-notes {
    @include flexStartCol(8px);

    p {
      font-size: $font-size-m;
      font-weight: 300;
    }
    p.terms {
      font-size: $font-size-s;
    }
  }
}
