@import 'mixins';
@import 'variables';

.sheet-content-container {
  @include flexStartCol(32px, center);

  .heading {
    @include flexStartCol(4px, center);
  }

  mat-divider {
    width: 100%;
  }

  .content-form {
    width: 100%;
    margin-bottom: 30px;
    @include flexStartCol(16px);

    .heading {
      width: 100%;
      @include flexStartRow(0px);
    }

    form {
      @include flexStartCol(16px);
      width: 100%;
      text-align: center;

      .actions {
        @include flexCenter(row, 16px);
      }
    }
  }
}

.floating-button {
  position: absolute;
  right: 4px;
  top: 12px;
}