@import "node_modules/@ballzo-ui/core/common/themes/mixins.scss";
@import "node_modules/@ballzo-ui/core/common/themes/_variables.scss";

.main-container {
  @include mainPageContainer;

  .request-submit-status {
    margin-top: 30px
  }

  .head {
    @include flexStartCol(8px);

    .heading {
      @include flexCenter(row);
      text-align: center;
      width: 100%;
      height: $heading-height;
    }

    .description {
      &-main {
        color: $grey-text;
        font-size: $font-size-s;
        text-align: center;
        font-weight: 300;
      }
    }
  }

  form {
    @include flexStartCol(12px);
    text-align: center;

    .upload-files {
      @include flexStartCol(0px, flex-start);

      &-label {
        font-size: $font-size-m;
        color: $grey-text;
        height: 40px;
      }

      &-wrapper {
        width: 100%;
      }
    }
  }
}

.note {
  margin-top: 8px;
  font-weight: 300;
  color: $grey-2;
  font-size: $font-size-xs;
  text-align: center;
}

.note-darker {
  font-weight: 400;
}