.mat-hint.custom-hints {
  color: $primary-color;
}
.mat-form-field-appearance-outline .mat-form-field-prefix {
  top: 0px !important;
  .country-code {
    margin-right: 4px;
  }
}
mat-form-field {
  font-size: $font-size-primary !important;
}
