<header>
  <mat-toolbar class="toolbar mat-elevation-z4">
    <app-logo></app-logo>
    <div class="side-buttons">
      <button mat-icon-button (click)="redirectToWhatsapp()">
        <img
          src="assets/icons/whatsapp.svg"
          alt="WhatsApp Icon"
          class="whatsapp-icon"
        />
      </button>
      <mat-chip-list *ngIf="isUserLogged">
        <mat-chip>
          <span routerLink="/main/user/wallet">
            {{ userBalance | currency : "INR" }}
          </span>
          <mat-icon fontSet="material-icons-round"
            >keyboard_arrow_right</mat-icon
          >
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-toolbar>
</header>
