@import "mixins";
@import "variables";

.toolbar {
  padding: 16px;
  background-color: $white;
  @include flexSpaceBetween;

  .side-buttons {
    @include flexCenter(row, 8px);

    .circle {
      height: 35px;
      width: 35px;
      border-radius: 50%;
    }

    .rectangle {
      height: 35px;
      width: 80px;
      border-radius: $border-radius-secondary;
    }

    .whatsapp-icon {
      width: 32px;
      height: 32px;
      max-height: 32px;
      max-width: 32px;
    }

    .mat-chip-list {
      mat-chip>span {
        @include extra-small-screen {
          display: none;
        }
      }
    }
  }
}
