@import "mixins";
@import "variables";

.main-container {
  @include mainPageContainer;

  .placeholder {
    width: 100%;

    .heading {
      @include flexStartCol(4px);

      .strip {
        height: 20px
      }
    }

    .detail-placeholder {
      width: 100%;
      height: 200px;
    }

    .button-placeholder {
      .button {
        width: 100%;
        height: 50px
      }
    }
  }

  .heading {
    @include flexSpaceBetween;

    .name-text {
      .name {
        font-size: $font-size-primary;
      }

      .phone-number {
        .phone-number-text {
          font-size: $font-size-s;
          color: $grey-1;
        }

        a {
          font-size: $font-size-s;
        }
      }
    }

    .account-photo {
      height: 40px;
      width: 40px;

      mat-icon {
        font-size: 40px;
      }
    }
  }

  .stats-container {
    .title-text {
      @include flexCenter(row);
      color: $grey-1;
      font-size: $font-size-s;
      height: 40px;
    }

    .stats-box {
      @include primary-gradient-background;
      @include flexStartCol(8px);
      padding: 10px;
      border-radius: $border-radius-primary;

      .role {
        font-size: $font-size-s;
        font-weight: 300;
      }

      .stat-line {
        @include flexSpaceBetween(20px);

        .value {
          font-size: $font-size-l;
          font-weight: 500;
          min-width: 40px;
          display: inline-flex;
        }

        .label {
          font-weight: 300;
          font-size: $font-size-s;
        }
      }

    }
  }
}