@import "variables";

.icon-button-large.mat-icon-button {
  height: 48px;
  width: 48px;
}

.mat-typography p {
  margin-bottom: 0;
}

app-cancellation-policy {
  app-plain-text-viewer {
    .main-container {
      .content-container {
        max-height: 400px;
        overflow-y: auto;
      }

      margin-bottom: 20px;
    }
  }
}