@import 'variables';
@import 'mixins';

.main-container {
  @include mainPageContainer;
  padding: 0 !important;

  .heading {
    @include flexCenter(row);
    text-align: center;
    width: 100%;
    height: $heading-height;
  }

  .content-container {
    background-color: $grey-3;
    color: $black;
    font-size: $font-size-m;
    font-family: $font-family;
    padding: 16px;
    border-radius: $border-radius-primary;
    text-align: justify;
  }
}