@import "node_modules/@ballzo-ui/core/common/themes/mixins.scss";
@import "node_modules/@ballzo-ui/core/common/themes/_variables.scss";

.placeholder {
  @include mainPageContainer;

  .heading {
    width: 100%;
    height: $heading-height;
  }

  .box {
    height: 300px;
    width: 100%
  }

  .button {
    width: 100%;
    height: $button-height;
  }
}

.main-container {
  @include mainPageContainer;

  .heading {
    @include flexCenter(row);
    text-align: center;
    height: $heading-height;
  }

  .info {
    width: 100%;
    @include flexSpaceEvenly;

    .metric {
      max-width: 100px;

      &-label {
        max-width: 100%;
        font-size: $font-size-s;
        font-weight: 500;
        color: $black;
        text-align: center;
        @include ellipsis;
      }

      &-value {
        max-width: 100%;
        font-size: $font-size-xs;
        font-weight: 300;
        color: $grey-1;
        text-align: center;
        @include ellipsis;
      }
    }
  }

  .cancellations-policy {
    min-height: 80px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: $border-radius-primary;
    background: $grey-3;
    @include flexCenter(column, 8px);

    .read-policy {
      @include flexCenter(row, 0px);
    }

    .note {
      font-size: $font-size-xs;
      font-weight: 300;
      text-align: center;
    }
  }

  .cancel-container {
    width: 100%;
    text-align: center;

    .cancel-button {
      color: $fail !important;
      font-size: $font-size-m;
    }
  }

}
