@import 'mixins';
@import 'variables';

.sheet-content-container {
  padding-top: 8px;
  @include flexStartCol(20px, center);

  .heading {
    @include flexStartCol(4px, center);
    width: 100%;
  }

  .image-carousel {
    .ground-image-container {
      @include flexSpaceBetween(4px, center);

      .ground-image {
        @include flexCenter(row);
        background: transparent;
        height: 275px;
        max-height: 275px;
        width: 250px;
        max-width: 250px;
        overflow: hidden;
        border-radius: $border-radius-primary;

        img {
          height: auto;
          width: 100%;
          object-fit: fill;
          border-radius: $border-radius-primary;
        }

        @include extra-small-screen {
          max-width: 150px;
        }
      }
    }
  }

  .facility-list {
    mat-chip {
      font-size: $font-size-s;
    }
  }

  .ground-info-bg {
    @include primary-gradient-background;

    &-text {
      color: $white;
      font-size: $font-size-s;
      font-weight: 300;
    }
  }

  .ground-info-alt-bg {
    background-color: $grey-3;
    padding: 8px 12px;
    border-radius: $border-radius-primary;

    &-text {
      font-size: $font-size-xs;
      color: $black;
      font-weight: 300;
    }
  }

  .ground-info {
    @include flexSpaceBetween(4px, center);
    padding: 12px;
    border-radius: $border-radius-primary;
    cursor: pointer;
    overflow: hidden;
  }

  .contact-info {
    font-size: $font-size-xs;
    padding-bottom: 20px;
    padding-top: 0 !important;
    font-size: $font-size-s;
  }
}

.floating-button {
  position: absolute;
  right: 4px;
  top: 12px;
}