@import "mixins";

.custom-wide-button {
  @include flexSpaceBetween(0px);
  height: $button-height;
  width: 100%;
  font-size: $font-size-m;
  border-radius: $border-radius-primary !important;

  .start-content {
    width: 100%;
    max-width: 90%;
    @include flexStartRow(8px);

    .label {
      @include ellipsis;
      max-width: 90%;
    }
  }

  .mat-button-wrapper {
    @include flexSpaceBetween(0px);
    width: 100%;
  }

  &:disabled {
    opacity: $disable-opacity;
    cursor: not-allowed;
    pointer-events: none;
    border: none;

    .mat-button-wrapper {
      color: $black;
    }
  }
}

.primary-button-custom {
  @include primary-gradient-background;
}

.secondary-button-custom {
  @include secondary-border-background;
  box-shadow: none !important;
}