@import "node_modules/@ballzo-ui/core/common/themes/mixins.scss";
@import "node_modules/@ballzo-ui/core/common/themes/_variables.scss";

.main-container {
  @include mainPageContainer;

  .heading {
    @include flexCenter(row);
    text-align: center;
    width: 100%;
    height: $heading-height;
  }

  .placeholder {
    flex-wrap: wrap;
    @include flexSpaceEvenly(16px);

    .card {
      height: 280px;
      width: 150px;
    }
  }
}
