@import "mixins";
@import "variables";

.main-container {
  @include mainPageContainer;

  .heading {
    @include flexCenter(row);
    text-align: center;
    width: 100%;
    height: $heading-height;
  }

  .placeholder {
    flex-wrap: wrap;
    @include flexSpaceEvenly(16px);

    .card {
      height: 280px;
      width: 150px;
    }
  }

  .content-container {
    @include flexSpaceBetween(16px);
    flex-wrap: wrap;
  }
}