.logo-container {
  .logo {
    display: flex;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    max-height: 100%;
    overflow: hidden;
    img {
      height: 100%;
      width: auto;
      max-width: 100px;
    }
  }
}
