@import "mixins";
@import "variables";

.main-container {
  @include mainPageContainer;

  .heading {
    @include flexCenter(row);
    width: 100%;
  }

  .placeholder {
    @include flexStartCol(8px);

    .box {
      height: 144px;
      width: 100%;
      border-radius: $border-radius-secondary
    }

    .text-strip {
      height: 40px;
      width: 100%;
    }

    &-tab {
      height: 206px;
      width: 100%;
    }
  }

  .wallet-balance-container {
    @include primary-gradient-background;
    @include flexStartCol(8px);
    padding: 16px;
    border-radius: $border-radius-secondary;

    .top-header {
      font-size: $font-size-m;
      font-weight: 300;
    }

    .balance {
      font-size: $font-size-xl;
      font-weight: 400;
      margin-bottom: 16px;
    }

    .bottom-note-text {
      font-size: $font-size-xs;
      font-weight: 300;
    }
  }

  .content-container {
    @include flexStartCol(4px, stretch);
    width: 100%;
  }
}