<div class="main-container discover-games-container" *ngIf="data.groundId">
  <div class="heading">
    <!-- <button mat-mini-fab (click)="prev()" [disabled]="selectedIndex <= 0" color="primary"
      class="floating-buttons button-left">
      <mat-icon fontSet="material-icons-round">chevron_left</mat-icon>
    </button> -->
    <span class="page-sub-label">My Bookings:</span>
    <!-- <button mat-mini-fab color="primary" (click)="next()" [disabled]="selectedIndex >= (data.length - 1)"
      class="floating-buttons button-right">
      <mat-icon fontSet="material-icons-round">chevron_right</mat-icon>
    </button> -->
  </div>
  <app-game-list-viewer [showRules]="true" [data]="data" [isSelfBookings]="true"
    (groundOpen)="openGround()"></app-game-list-viewer>
</div>

<div class="side-container" *ngIf="!data.groundId">
  <app-placeholder [message]="messages.error.noBooking"></app-placeholder>

</div>

<app-loader *ngIf="isLoaderShown"></app-loader>
