@import "mixins";
@import "variables";

.main-container {
  @include mainPageContainer;

  .heading {
    @include flexCenter(row);
    text-align: center;
    width: 100%;
    height: $heading-height;
  }

  .book-confirm {
    @include flexCenter(row);
  }

  .card-container {
    flex-wrap: wrap;
    @include flexSpaceBetween(16px);
  }
}

.placeholder {
  flex-wrap: wrap;
  @include flexSpaceEvenly(16px);

  .card {
    height: 280px;
    width: 150px;
  }
}

.selection-placeholder {
  .card {
    height: 150px;
    width: 100%;
  }
}