<div class="main-container">
  <div class="heading">
    <span class="page-sub-label"> Select your position: </span>
  </div>
  <div class="image-carousel">
    <div class="ground-image-container">
      <button [disabled]="!imagesCount || index <= 0 " mat-mini-fab (click)="previousImage()" color="primary"
        class="floating-buttons button-left">
        <mat-icon fontSet="material-icons-round">arrow_back_ios</mat-icon>
      </button>
      <div class="ground-image">
        <img [src]="selectedAsset" [@sliderSidewayVoid] alt="manager" *ngIf="selectedAsset" />
      </div>
      <button [disabled]="!imagesCount || index  >= (imagesCount - 1)" mat-mini-fab color="primary"
        (click)="nextImage()" class="floating-buttons button-right">
        <mat-icon fontSet="material-icons-round">arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
  <div class="selected-option-text">
    <div class="position-text">
      <span class="position-text-title">
        {{ positionMap[index]?.title }}
      </span>
      <span class="position-text-sub-title">
        {{ positionMap[index]?.subtitle }}
      </span>
    </div>
    <app-next-action-button (clickEv)="selectPos()" [displayDetails]="selectBtnDetails"></app-next-action-button>
    <div class="tip">
      {{ tip }}
    </div>
  </div>
</div>