<div class="main-container">
  <div class="header-content-container">
    <span class="page-sub-label">
      Match Details ({{slot?.timestamp | date: dateFormat }})
    </span>
    <button mat-icon-button appBackButton>
      <mat-icon fontSet="material-icons-round">close</mat-icon>
    </button>
  </div>
  <div class="placeholder-chip" *ngIf="!facility || !slot">
    <div class="shine box-chip"></div>
    <div class="shine box-chip"></div>
    <div class="shine box-chip"></div>
    <div class="shine box-chip"></div>
  </div>
  <mat-chip-list class="ground-info" *ngIf="facility && slot">
    <mat-chip>{{ dayTime }}</mat-chip>
    <mat-chip>{{ slot.timestamp | date: timeFormat}}</mat-chip>
    <mat-chip selected (click)='openMaps()'>Open Maps</mat-chip>
    <mat-chip>{{ facility.name }}</mat-chip>
  </mat-chip-list>
  <div class="placeholder" *ngIf="!isPageInit">
    <div class="shine box"></div>
  </div>
  <div class="list-container" *ngIf="isPageInit">
    <div class="team">
      <span class="subtitle">
        Team Black:
      </span>
      <ol class='list'>
        <li *ngFor="let player of playersListBlack">
          <div class="content">
            <span class="name">
              {{player.name}}
            </span>
            <span class="position">
              {{player.position}}
            </span>
          </div>
        </li>
      </ol>
      <app-placeholder message="List is empty!" *ngIf="!playersListBlack.length"></app-placeholder>
    </div>
    <mat-divider></mat-divider>
    <div class="team">
      <span class="subtitle">
        Team White:
      </span>
      <ol class='list'>
        <li *ngFor="let player of playersListWhite">
          <div class="content">
            <span class="name">
              {{player.name}}
            </span>
            <span class="position">
              {{player.position}}
            </span>
          </div>
        </li>
      </ol>
      <app-placeholder message="List is empty!" *ngIf="!playersListWhite.length"></app-placeholder>
    </div>
  </div>
</div>