@import "node_modules/@ballzo-ui/core/common/themes/mixins.scss";
@import "node_modules/@ballzo-ui/core/common/themes/_variables.scss";

.main-container {
  @include mainPageContainer;

  .header-content-container {
    width: 100%;
    height: $heading-height;
    @include flexSpaceBetween(0px);

    a {
      @include flexCenter(row);
    }
  }

  .ground-info {
    .mat-chip-list-wrapper {
      @include flexStartRow(8px);
    }

    mat-chip {
      height: 32px;
      width: auto;
      font-size: $font-size-xs;
      font-weight: 400;
      margin: 0 !important;
    }
  }

  .placeholder-chip {
    @include flexCenter(row, 8px);

    .box-chip {
      height: 32px;
      min-width: 70px;
      border-radius: $border-radius-secondary;
    }
  }

  .placeholder {
    @include flexCenter(column, 20px);
    min-height: 500px;

    .box {
      height: 500px;
      width: 100%;
      border-radius: $border-radius-primary;
    }
  }

  .list-container {
    background-image: $primary-gradient;
    color: $white;
    min-height: 300px;
    padding: 16px;
    border-radius: $border-radius-primary;
    @include flexStartCol(16px);

    .team {
      @include flexStartCol(4px);
    }

    .list {
      list-style: decimal;

      li {
        width: 100%;
        height: 25px;

        .content {
          width: 100%;
          height: 100%;
          @include flexSpaceBetween();

          .name {
            font-size: $font-size-primary;
          }

          .position {
            font-size: $font-size-s;
          }
        }
      }
    }

    .mat-divider {
      border-top-color: $white;
    }
  }
}
