@import "mixins";
@import "variables";

.main-container {
  @include mainPageContainer;
  .header-content-container {
    @include flexStartCol(4px);
    .salutation-strip {
      @include flexSpaceBetween;
      a {
        @include flexCenter(row);
      }
    }
  }
  .content-container {
    @include flexCenter(column, 4px);
    .heading {
      width: 100%;
      font-size: $font-size-primary;
      @include flexSpaceBetween(0px);
    }
    .content {
      width: 100%;
      height: auto;
      .onboarding-content {
        @include flexStartCol(8px);
      }
    }
  }
}
