@import "node_modules/@ballzo-ui/core/common/themes/mixins.scss";
@import "node_modules/@ballzo-ui/core/common/themes/_variables.scss";

.heading {
  @include flexSpaceBetween();

  .title-text {
    color: $grey-1;
    font-size: $font-size-s;
  }

  mat-icon {
    color: $grey-1;
    font-size: $font-size-primary;
  }
}

.data-content {
  min-height: 50px;
  border: 1px solid $primary-color;
  border-radius: $border-radius-primary;
  padding: 10px;

  .content-line {
    @include flexStartRow(8px);

    .line-label {
      font-size: $font-size-s;
    }
  }
}