<mat-card class="mat-elevation-z4 interactive-card" (click)="select()">
  <div class="image-container">
    <img [src]="data.imgSrc" [alt]="data.title" />
  </div>
  <div class="content-container" [ngClass]="{ active: isSelected }">
    <mat-card-title-group>
      <mat-card-title>
        <span class="title">
          {{ data.title }}
        </span>
      </mat-card-title>
      <mat-card-subtitle>
        <span class="subtitle"> {{ data.subtitle }} </span>
      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <p class="description" [innerHtml]="data.descriptionHtml"></p>
    </mat-card-content>
    <mat-card-footer>
      <mat-chip-list
        [selectable]="data.actionBtn.isSelectable"
        *ngIf="data.actionBtn.type === 'chip'"
      >
        <mat-chip
          [ngClass]="{ 'primary-chip': isSelected }"
          class="custom-btn-chip"
        >
          <span *ngIf="isSelected"> Selected </span>
          <span *ngIf="!isSelected">
            {{ data.actionBtn.label }}
          </span>
        </mat-chip>
      </mat-chip-list>
    </mat-card-footer>
  </div>
</mat-card>
